:root {
	--topics-height: 50px;
	--page_offset: 50px;
}

#view, article {
	border-radius: 10px;
	background-color: antiquewhite;
}

#view {
	padding: calc(var(--topics-height) / 2);
	min-height: calc(100% - var(--topics-height) - var(--page_offset));
}

article > * {
	border-radius: 10px;
	margin-bottom: calc(var(--topics-height) / 2);
}

#view h1 {
	background-color: black;
	height: var(--topics-height);
	line-height: var(--topics-height);
	padding: 0 var(--topics-height);
}

#view p {
	width: 100%;
	padding: calc(var(--topics-height) / 2);
}

#topics, #view { 
	margin: 10px 50px;
}

#topics, .topic, .topic a {
	height: var(--topics-height);
}

.topic a {
	border-radius: 10px;
	border: 1px solid antiquewhite; 
	line-height: var(--topics-height);
	margin: 0 calc(var(--topics-height) / 2);
	padding: 0 calc(var(--topics-height) / 2);
}

.topic a:hover {
	color: dimgray;
	background-color: antiquewhite;
}