:root {
	--nav-height: 50px;
}

nav, .nav-item, .nav-item a {
	background-color: goldenrod;
	height: var(--nav-height);
}

.nav-item a {
	line-height: var(--nav-height);
	padding: 0 calc(var(--nav-height) / 2);
}

.nav-item a:hover {
	color: black;
	background-color: antiquewhite;
}

#view {
	height: calc(100% - var(--nav-height));
}


